In [2]:
import pandas as pd
import json

In [4]:
pd.read_json("/Users/daniellancet/Desktop/scrapy_install/EdScraper/edOrgsScraper/edOrgsScraper/spiders/test2.json")["url"].str.contains("mission").sum()

np.int64(1)

In [10]:
pd.read_csv("/Users/daniellancet/Desktop/scrapy_install/EdScraper/edOrgsScraper/edOrgsScraper/test.csv").head(10)

   Unnamed: 0                              urls        ein
0          98             http://www.narst.org/  421047684
1         256  http://www.grassrootspolicy.org/  521846313
2          63      http://asterafoundation.org/  270221149
3          20     http://www.mideastcenter.org/  824320484
4          81     http://www.opendatawatch.com/  463036686
5         247     https://www.learnscitech.org/  843334884
6          24            http://mbtaonline.org/   10513594
7         115     https://www.effective-ed.org/  465180510
8         231           http://www.scopela.org/  954635737
9          73      http://www.edexcelencia.org/  200927912

In [13]:
clean_url_lst = ["https://narst.org/",
"https://grassrootspowerproject.org/",
"http://www.mideastcenter.org/",
"https://opendatawatch.com/",
"https://learnscitech.org/",
"https://mbtaonline.org/",
"https://www.effective-ed.org/",
"https://scopela.org/",
"https://www.edexcelencia.org/"]

['https://narst.org/',
 'https://grassrootspowerproject.org/',
 'http://www.mideastcenter.org/',
 'https://opendatawatch.com/',
 'https://learnscitech.org/',
 'https://mbtaonline.org/',
 'https://www.effective-ed.org/',
 'https://scopela.org/',
 'https://www.edexcelencia.org/']